/* Configurações Globais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    transition: all 0.3s ease;
    display: inline-block;
}

nav a:hover {
    background-color: #22213b;
    color: white !important;
    padding: 3px 6px;
    border-radius: 2px;
}


/*Inverte cores dos ícones na página de contato 
.redes-icons img {
    filter: invert(100%);
}*/

.enviar:hover, .limpar:hover{
    cursor: pointer;
    background-color: #191951;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease;

}