{% extends 'base.html' %}

{% block conteudo %}
    <main class="grid grid-cols-1 place-items-center">
        <img src="{{ url_for('static', filename='universidade.jpg') }}" alt="" class="w-full bg-[#22213b] shadow-[1px_2px_6px_rgba(0,0,0,0.776)]">

        <div class="mx-6 sm:w-11/12 lg:w-4/5">
            <h2 class="text-white text-3xl font-bold mt-8 mb-4">Sobre a univerdade</h2>
            <p class="text-white text-justify w-full lg:text-lg">
                A Universidade Veritas nasce com o propósito de promover o conhecimento, a reflexão crítica e a valorização da linguagem em todas as suas formas. Especializada nas áreas de Linguística e Letras, a instituição se destaca por seu compromisso com a excelência acadêmica, a inovação no ensino e o desenvolvimento intelectual de seus estudantes. 
            </p>
            <p class="text-white text-justify w-full lg:text-lg mb-2">
                Fundada com base no princípio de que a linguagem é uma das mais poderosas ferramentas de transformação social, a Universidade Veritas oferece uma formação sólida, que integra teoria e prática, preparando profissionais capazes de compreender, analisar e atuar nos diversos contextos da comunicação humana. Seus cursos abrangem desde os estudos linguísticos mais técnicos até as expressões literárias clássicas e contemporâneas.
            </p>
            <p class="text-white text-justify w-full lg:text-lg mb-2">
                A instituição conta com um corpo docente altamente qualificado, formado por pesquisadores e especialistas dedicados à produção de conhecimento e ao incentivo do pensamento crítico. Além disso, a Universidade Veritas investe constantemente em pesquisa, extensão e projetos culturais, criando um ambiente acadêmico dinâmico, inclusivo e inspirador.
            </p>
            <p class="text-white text-justify w-full lg:text-lg">
                Com uma proposta educacional moderna e interdisciplinar, a Universidade Veritas busca formar cidadãos conscientes, criativos e preparados para os desafios de um mundo cada vez mais conectado e multicultural. Aqui, o estudo da linguagem vai além das palavras — é uma ferramenta para compreender o mundo e transformá-lo.
            </p>
        </div>
    </main>

{% endblock %}