{% extends 'base.html' %}

{% block conteudo %}

    <div id="mensagem-sucesso"
         class="fixed top-6 left-1/2 -translate-x-1/2 z-50
                bg-green-600 text-white px-6 py-3 rounded-lg shadow-lg text-center font-bold transition-all duration-700 ease-in-out opacity-0 pointer-events-none -translate-y-4"> Formulário enviado com sucesso! Entraremos em contato em breve.
    </div>

    <main class="md:min-h-[500px] grid grid-cols-1 lg:grid-cols-2 place-items-center mx-6 mt-7">
        
        <div class="form-container mb-7 2xl:-ml-[-200px] flex flex-col items-center">
            <h2 id="entre-em-contato" class="text-center text-2xl font-bold text-white mb-4 ">Entre em contato conosco!</h2>

            <form id="meu-formulario" action="" method="POST" class="bg-[#121222] text-white p-6 rounded-[5px] space-y-4 mb-3">
                <p>
                    <label for="id-nome">Nome</label><br>
                    <input type="text" name="nome" id="id-nome" required class="w-80 h-8 rounded-[3px] text-black px-2">
                </p>

                <p>
                    <label for="id-email">E-mail</label><br>
                    <input type="text" name="email" id="id-email" required class="w-80 h-8 rounded-[3px] text-black px-2">
                </p>
                
                <p>
                    <label for="id-assunto">Assunto</label><br>
                    <input type="text" name="assunto" id="id-assunto" required class="w-80 h-8 rounded-[3px] text-black px-2">
                </p>

                <p>
                    <label for="id-descricao">Descrição</label><br>
                    <textarea name="descricao" id="id-descricao" class=" w-80 h-20 rounded-[3px] text-black px-2 py-1"></textarea>
                </p>
                
                <p class="flex gap-2">
                    <input type="submit" value="ENVIAR" class="enviar w-1/2 text-[15px] rounded-[3px] font-bold bg-white text-black">

                    <input type="reset" value="LIMPAR" class="limpar w-1/2 rounded-[3px] font-bold bg-white text-black">
                </p>
            </form>

            <button onclick="toggleModal()" class="text-white bg-[#121222]/80 rounded-md mb-5 py-1 px-2">
                Confira as dúvidas recentes
            </button>


            <div id="ModalContatos" class="fixed inset-0 bg-black/50 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300 z-50">
                <!--Caixa-->
                <div class="bg-white rounded-lg shadow-xl max-w-md w-full mx-4 p-4 transform scale-95 transition-transform duration-300">
                    
                    <!--Título-->
                    <div class="flex justify-between items-center mb-4">
                        <h3 class="text-lg font-bold text-[#121222]">Dúvidas mais recentes</h3>
                    </div>

                    <!-- Conteúdo-->
                    <div class="text-gray-800 mb-6">
                        {% if duvidas %}
                            {% for duvida in duvidas %}
                                <div class="border-b border-gray-200 pb-2">
                                    <p class="font-semibold">{{ duvida.assunto }}</p>
                                    <p class="text-sm">{{ duvida.descricao }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Nenhuma dúvida registrada ainda.</p>
                        {% endif %}
                    </div>

                    <!--Botão de fechar-->
                    <div class="flex justify-end space-x-2">
                        <button onclick="toggleModal()" class="px-4 py-2 bg-gray-200 rounded hover:bg-[#2b2a4c] hover:text-white transition">
                            Fechar
                        </button>
                    </div>
                </div>

            </div>
    
        </div>

        <section class="redes-sociais grid grid-cols-1 place-items-center mb-[70px] 2xl:-mr-[-200px]">
            <h2 class="text-2xl font-bold text-white mb-4 text-center">Nossas redes sociais</h2>

            <div class="redes-icons flex gap-5 invert">
                <img src="{{ url_for('static', filename='instagram.png') }}" alt="" width="40px"> 
                <img src="{{ url_for('static', filename='facebook.png') }}" alt="" width="40px">
                <img src="{{ url_for('static', filename='linkedin.png') }}" alt="" width="40px">
                <img src="{{ url_for('static', filename='whatsapp.png') }}" alt="" width="40px">
            </div>
            
            <img src="{{ url_for('static', filename='V-logo.png') }}" alt="" width="400px" class="mt-5">
        </section>
        
    </main>

    <script>
        document.getElementById('meu-formulario').addEventListener('submit', function(event) {
            const msg = document.getElementById('mensagem-sucesso');

            //Aparece e sobe
            msg.classList.remove('opacity-0', '-translate-y-4', 'pointer-events-none');
            msg.classList.add('opacity-100', 'translate-y-0');

            //Some aos poucos
            setTimeout(() => {
                msg.classList.remove('opacity-100', 'translate-y-0');
                msg.classList.add('opacity-0', '-translate-y-4', 'pointer-events-none');
            }, 3500);
        });

        function toggleModal() {
            const modal = document.getElementById('ModalContatos');
            modal.classList.toggle('opacity-0');
            modal.classList.toggle('pointer-events-none');
            modal.querySelector('div').classList.toggle('scale-95');
        }
    </script>
{% endblock %}