/* Configurações Globais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    transition: all 0.3s ease;
    display: inline-block; /* Garante que o padding do hover funcione bem */
}

nav a:hover {
    background-color: #22213b;
    color: white !important;
    padding: 3px 6px;
    border-radius: 2px;
}


/* Filtro para inverter cores dos ícones na página de contato */
.redes-icons img {
    filter: invert(100%);
}